//fonts
@font-face {
    font-family: 'Rubik-Regular';
    font-weight: 400;
    src: url('../../assets/fonts/Rubik/Rubik_regular/Rubik-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Rubik-Bold';
    font-weight: 700;
    src: url('../../assets/fonts/Rubik/Rubik_bold/Rubik-Bold.woff2') format('woff2');
}