.footer {
	background: $color-background;
	color: $color-text;
	&_wrapper {
		@include flex(flex, column, flex-start, center, nowrap);
		width: 100%;
		max-width: 1170px;
		margin: 0 auto;
		padding: 65px 75px 115px;
		@include laptop {padding: 55px 60px 90px;}
		@include tablet {padding: 45px 45px 70px;}
		@include mobile {padding: 30px 15px 50px;}
	}
	&__list {
		@include flex(flex, row, space-between, center, nowrap);
		margin: 0 0 60px;
		@include laptop {margin: 0 0 50px;}
		@include tablet {margin: 0 0 40px;}
		@include mobile {margin: 0 0 25px; width: 100%;
			@include flex(flex, column, space-between, center, nowrap);
		}
	}
	&__item {
		@include flex(flex, row, space-between, center, nowrap);
		padding: 0 15px;
		&:last-child .footer__link:after {
			display: none;
		}
		@include mobile {padding: 0; margin: 0 0 15px; width: 100%;}
	}
	&__link {
		text-align: center;
		position: relative;
		@include mobile {width: 100%; padding: 10px 0; font-size: 18px;};
		&:hover {
			color: lighten($color-text, 30%);
		}
		&:after {
			content: '/';
			position: relative;
			right: -15px;
			@include mobile {display: none;}
		}
	}
	&__additional {

	}
	&__copyright {

	}
}